{% extends 'base.html.twig' %}

{% block title %}Connexion à Twittor{% endblock %}

{% block body %}
<body style="display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  margin-top:70px">



  <div style="background:white; padding: 40px 60px; border-radius:15px;  text-align: center;height:300px; width: 400px; margin: 0 auto;">

<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <div style="margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; class="form-floating">
    
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="your email" autocomplete="email" required autofocus>
    </div>

    <div style="margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; margin-top:15px;" class="form-floating">
    
    <input type="password" name="password" id="inputPassword" class="form-control"  placeholder="your password" autocomplete="current-password" required>
    </div>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button style="margin-top:15px;" class="btn btn-primary" type="submit">
        Sign in
    </button>
</form>
</div>

</body>
{% endblock %}